.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.posicion{
  justify-content: center;
  display: flex;
}



.form-centrado{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}


