.espacio {
    flex: 1 1 auto;
}


.toolbar{
  background: #923fb5;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 10%;
  flex-direction: column-reverse;
  align-items: flex-start;
  white-space: nowrap;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-evenly;
  margin: 10px;
  height: 100%;
  position: fixed;
  overflow: visible;
}
